AddDefaultCharset utf-8

php_value max_execution_time 30
php_flag  magic_quotes_gpc 0
php_flag  magic_quotes_runtime 0

<Files .htaccess>
  Order Deny,Allow
  Deny from all
</Files>

Options -Indexes
DirectoryIndex index.php

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /index.php [L]
